*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #36ee45af;
    font-family: noto sans;
}
.logo{
    color: rgb(7, 76, 104);
    letter-spacing: 5px;
    font-size: 20px;
    min-width: 20%;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    color: rgba(255, 255, 255, 0);
    justify-content: space-around;
    width: 40%;
}
.nav-links a{
    color: rgb(7, 76, 104)
    text-decoration: none;
    letter-spacing: 0px;
    font-weight:lighter


}